.basket{
  text-align: center;
  width: 70%;
}

.checkout{
}

.total{
  text-align: center;
  font-size: large;
  width: 30%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  // justify-content: end;
  // margin-left: 65%;
}

.item-name {
  font-weight: bold;

}

.basket-container {
  width: 50%;
  margin: 0 auto;
}
