.basket{
  text-align: center;
  width: 70%;
}

.checkout{
}

.total{
  text-align: center;
  font-size: large;
  width: 30%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // justify-content: end;
  // margin-left: 65%;
}
