.dashboard {
  background-image: url("Dashboard.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

// .dashboardbutton {
//   background-color: #243038;
//   font-family: Sans;
//   color: white;
//   top: 80px
// }

.first-txt {
  position: absolute;
  top: 22px;
  left: 785px;
  color: white;
  font-size: small;
}

.container1{
  margin: 0;

}
