// Specific CSS for your home-page
.home{
  text-align: center;
  margin-top: 125px;
  padding: 15px;
  p{
    margin-bottom: 20px;
    padding: 20px;
  }
  h1{
    font-size: xx-large;
  }
}

.blocker{
  height: 35px;
}

.banner{
  align-items: center;
}

.hover:hover {
  font-weight: bolder;
}
