.btn{
  margin-top: 20px;
  padding-left: 0px;
}

.container3{
margin: 25px;


}

.list{
  display: flex;
  padding-top: 35px;
  padding-left: 20px;


}

.listed{
  h2{
  font-size: 25px;
  margin-top: 10px;
  }
}

.card-product2{ overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  // align-items: center;
  justify-content: space-between;

  width: 35%;
  margin: 10px;
  border-radius: 8px;
}

.card-product2 img {
  height: 100%;
  width: 120px;
  object-fit: cover;

}

.ul{
  padding-left: 5px;
  padding-top: 20px;
}

.exit{
  padding-right: 5px;
}
