<h1>My Listed Items</h1>

<% @products.where(users.id == current_user.id, is_sold: false).each do |product| %>
  <%= link_to product.item, product_path(product) %>
<% end %>

<%= link_to "Add a new product", new_product_path%>
