<footer class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-text">
  <p>Contact address: Unit 13, 138 Kingsland Road, London E2 8DY</p>
  <p>© 2022 Le Wagon, Inc. All rights reserved.</p>
</footer>
