<div class="banner">
  <div class="banner-content">
  <h1>Le Wagon Marketplace</h1>
  <p>A place for Wagoners to buy and sell items they no longer need to fellow students</p>
  <%= link_to "View All Listing", products_path, class: btn btn-lg btn-primary %>
  </div>
</div>
