<div class="banner">
  <div class="banner-content text-center">
  <h1>Le Wagon Marketplace</h1>
  <p>A place for Wagoners to buy and sell items they no longer need to fellow students</p>
  <%= link_to "Start Your Search", root_path, class: "button" %>
  </div>
</div>
