html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  bottom: 0;
}

.min-height {
  min-height: 80.2vh;
}

.footer {
  // background: #343A40;
  background: #243038;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
  width: 100%;
  // margin-top: 25px;
  height: 75px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 5;
  color: red;
}

.footer-text {
  font-size: 12px;
  padding-top: 10px;
  opacity: 0.75;
}
