.searchTerm {
  width: 100%;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: 	#696969;
  border: none;
  margin-bottom: 35px;


}

.searchButton {
  width: 30%;
  height: 36px;
  border: none;
  background: #D23333;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
}

.wrap{
 width: 40%;

}
