<h1>Checkout</h1>




<%= link_to "Buy now", root_path, method: :get, data: {turbo_method: :get, turbo_confirm: "Your purchase was successful! You will now be redirected to the homepage, Do not refresh this page"} %>
