
<div class="d-flex justify-content-center">

  <div class="container3 mt-3 justify-content-center" style="width: 60%;">
    <% if @purchased_products.empty? %>
      <div class="empty">
        <h2 class="d-flex justify-content-center"><%="You're yet to make any purchases!"%></h2>
      </div>
    <% else %>
      <div class="listed" >
        <h2 class="d-flex justify-content-center mb-3">Orders</h2>
      </div>
      <div class="row">
        <% @purchased_products.each do |product| %>
          <%= render "purchased", product: product %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
