<div class="d-flex justify-content-center mt-3">
  <h1> All Products available for sale <h1>
</div>

<div class="d-flex justify-content-center mb-4">
  <%= link_to "Add a new product", new_product_path, class: "button"  %>
</div>

<div class="container d-flex justify-content-between">
  <div class="row d-flex justify-content-between">
    <% @products.each do |product| %>
      <%= render product, product: product%>
    <%end%>
  </div>
</div>

<div class="d-flex justify-content-center px-3">
  <%== pagy_nav(@pagy) %>
</div>
