<div class="d-flex justify-content-center">

  <h1> All Products available for sale <h1>
</div>

<%= link_to "Add a new product", new_product_path %>

<div class="container d-flex justify-content-between">
  <% @products.each do |product| %>
    <%= render product, product: product%>
  <%end%>
</div>

