<h1>All Products available for sale</h1>



<%= link_to "Add a new product", new_product_path %>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-lg-4">
      <div class="card-pic">
          <% if product.photos.attached? %>
            <% product.photos.each do |photo| %>
            <%= cl_image_tag product.photos.first.key, width: 400, height: 250, crop: :fill %>
            <% end%>
          <% else %>
            <img src="https://source.unsplash.com/random/400x250" alt="" class="">
          <% end %>
      </div>
    </div>
  <% end %>
</div>
