<h1>All Products available for sale</h1>


<% @products.each do |product| %>
   <%= link_to product.item, product_path(product) %>
   £<%= product.price %>
<% end %>

<%= link_to "List a new item", new_product_path %>
