<div class="container3 mt-3 justify-content-center">
  <% if @purchased_products.empty? %>
    <div class="empty">
      <h2><%="You're yet to make any purchases!"%></h2>
    </div>
  <% else %>
    <h1>My Products</h1>
    <div class="listed">
      <h2>Purchased Products</h2>
    </div>
    <div class="row">
      <% @purchased_products.each do |product| %>
        <%= render "purchased", product: product %>
      <% end %>
    </div>
  <% end %>
</div>
